*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a,
body {
  color: #e1e1e1;
}

body {
  max-width: 540px;
  margin-inline: auto;
  min-height: 100svh;
  padding-block: 5rem;
  font: 400 16px/1.4 "Roboto", sans-serif;
  background-color: #292240;
}

[data-testid="test-profile-card"],
[data-testid="test-about-page"]{
  padding-block: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px #2d2d2d;
  background-color: #1e1a36;
}

input,
textarea,
form button {
  border: 0;
  padding: 0.5rem;
  border-radius: 0.35rem;
  font: 400 16px/1.4 "Roboto", sans-serif;
}

svg,
input,
textarea,
form button,
[data-testid="test-profile-card"] {
  width: 100%;
}

form,
section {
  padding: 1.5rem;
}

form button {
  cursor: pointer;
  font-weight: 600;
  margin-top: 1.5rem;
}

form div + div {
  padding-top: 1.5rem;
}

.error,
form label {
  margin-bottom: 0.35rem;
}

form label {
  font-weight: 600;
  display: inline-block;
}

section:last-child {
  border-radius: 0 0 1rem 1rem;
}

section h4 + ul.flex {
  padding-top: 0.5rem;
}

section h4 + ul.flex li {
  font-weight: 200;
  padding: 0.35rem 0.75rem;
  box-shadow: inset 0 0 2px #797777;
}

section h4 + ul.flex li:hover {
  color: #fff;
  box-shadow: inset 0 0 2px #f4f2f2;
}

section img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  transform: scaleX(-1);
}

svg {
  fill: #e1e1e1;
  max-width: 1.75rem;
}

svg:hover {
  fill: #fff;
}

.pages,
.social-links,
.user-bio > p + p {
  padding-top: 1.5rem;
}

.pages a:hover {
  text-decoration: underline;
}

.error {
  color: rgb(255, 50, 50);
}

.success {
  color: rgb(2, 255, 2);
}

.flex {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.error,
.text-sm,
form label {
  font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
  section:first-child .justify-between {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  body {
    padding-block: 0;
    background-color: #1e1a36;
  }
  article {
    border-radius: 0;
    box-shadow: 0;
  }
}
